table {
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tablink {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.tablink:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.nav-tabs {
  background-color: #e9f1ff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  color: #555;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border-bottom-color: #007bff;
  color: #007bff;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.nav-tabs .nav-item:last-child .nav-link {
  margin-right: 0;
}

.title {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.table-container {
  max-height: 600px;
  overflow-y: auto;
}

#svgMap {
  margin-top: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  height: 100%;
  position: relative;
}

#tab1-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#table-top10 {
  flex: 0 0 auto;
  height: 70%;
}

#statistics {
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: stretch;
  flex: 0 0 auto;
}

.number-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  border: 1px solid black;
  margin: 10px;
}

.number {
  font-size: clamp(16px, 30px, 36px);
}

.text {
  font-size: clamp(8px, 14px, 16px);
  margin-top: 10px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  position: relative;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.col-md-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.suggestion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
}

#institution_input {
  width: 100%;
}

.legend-items {
  display: flex;
}

.legend-item {
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.legend-item:first-child {
  border-left: 1px solid black;
}

.legend-item:last-child {
  border-right: 1px solid black;
}

.legend-label {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.legend-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-bottom: 10px;
}

input[type=number] {
  width: 100%;
}

#list-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#table-view {
  height: 40vh;
}

#listTab1, #citTab1 {
  max-height: 100%;
}